body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
   width: 1335px;
   height: 100vh;
   margin: 0 auto;
  
}

.header{
    color:aliceblue;
    background-image: url(assets/hero.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 850px;
    width: 1335px;
   
    }
    .listing{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    ul{
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;

    }
    .listing h3{
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 16px;
    }
    
    .middle-part{
        margin-top:10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    
    h1{
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        text-align: center;
    }
    .logo-big{
        margin:0 auto;
    }
    .middle-part h2 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
      line-height: 32px;
      text-align: center;
    }
    .main{
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:  #EEEEEE;
        width: 1335px;
    }
    .main h2{
        font-family: 'Oswald';
     font-style: normal;
     font-weight: 700;
     font-size: 48px;
     line-height: 64px;
     color: #464547;
     
    }
    .main h3{
        font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
color: #666666;
    }
    p{
        font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #000000;

    }
  .middle{
        width: 115px;
        height: 36px;
        background: #55C2D8;
        border-radius: 18px; 
        font-family: 'Oswald Regular';
font-size: 14px;
line-height: 26px;
text-align: center;
letter-spacing: 0.1em;
color: #FFFFFF;
    }
    .footer{
        background-image: url(assets/confer.png);
        height: 660px;
        background-repeat: no-repeat;
        background-size:cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 1335px;
    }
  .footer h2{
    color:white;
    font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 64px;

  }
span{
    color: #FFFFFF;
} .footer button{
width: 150px;
height: 150px;
margin:0 auto;
border-radius: 50%;
background: #39C2D7;
}
.footer h3{
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
color: #FFFFFF;
}
.gray{
    background-color: #464547;
    color:rgba(255, 255, 255, 0.4);
    padding-left:145px;
    padding-bottom:20px;
}
.gray h3{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
font-size: 18px;
line-height: 16px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #FFFFFF

}
span{
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: rgba(255, 255, 255, 0.4);
}
.project{
    padding-bottom:20px;
    padding-top:20px;
.logo-small{
        padding-right:10px;
}
}
h4{
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 16px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #FFFFFF;
}
